@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body, label {
  font-family: 'Roboto', sans-serif;
}
.headfont{
	font-family: 'Montserrat';
}
.animate-scroll {
	display: flex;
	animation: scroll 5s linear infinite;
  }

  @keyframes scroll {
	from {
	  transform: translateX(0%);
	}
	to {
	  transform: translateX(-50%);
	}
  }

  
  
  